# --- SISTEMA ---
.DS_Store
Thumbs.db
.vscode/
*.log

# --- SECRETS (Vital) ---
.env
*.pem
*.key

# --- HUGO (Frontend) ---
frontend/public/
frontend/resources/
frontend/.hugo_build.lock

# --- GO (Backend) ---
backend/main
backend/*.exe
backend/*.test
